@import "tailwindcss";

.place-marker {
  background-image: url("./metro.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.metro {
  background-image: url("./metro.png");
  background-size: cover;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.tram {
  background-image: url("./tram.png");
  background-size: cover;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

button {
  cursor: pointer;
}
